# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Dropbox\IMD\Mestrado Profissional\2020.2\Disciplinas\PPGTI1007 - LINGUAGENS DE DOMÍNIO ESPECÍFICO - T01\Projetos Atividades\code\CNL\output\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
